.grid-c6 .grid-item-fill {
  width: 60%;
  height: 10px;
  background-color: var(--clr-pumpkin);
  border-radius: 100vh;
}

.apexcharts-menu {
  background: #fe6c00 !important;
  position: absolute;
  top: 100%;
  border: 1px solid #790b0b !important;
  border-radius: 5px !important;
  padding: 0px !important;
  right: 5px !important;
  opacity: 0;
  min-width: 110px;
  transition: .15s ease all;
  pointer-events:none;
}